/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext'); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}

.headshot2 {
  width: 100%;
  border: 0.05px dotted white;
  border-radius: 7px;
  margin-left: 20px;
  object-fit: cover;
  justify-content: center;

  @media screen and (max-width: 600px) {
    margin-top: -75px;
    margin-left: 0px;
    width: 75%;
  }

  @media screen and (min-width: 992px) {
    margin-left: 45px;
  }
}
