/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext'); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}

.headshot2 {
  width: 100%;
  border: 0.05px dotted white;
  border-radius: 7px;
  margin-left: 20px;
  object-fit: cover;
  justify-content: center;

  @media screen and (max-width: 600px) {
    margin-top: -75px;
    margin-left: 0px;
    width: 75%;
  }

  @media screen and (min-width: 992px) {
    margin-left: 45px;
  }
}

/* Hover link underline animation: */
#home a {
  text-decoration: none;
  color: #6affb7;
  position: relative;
  /* padding: 50 10 50; */
}

#home a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.005em;
  background-color: #6affb7;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

#home a:hover::after,
a:focus::after {
  opacity: 0.5;
  transform: translate3d(0, 0.05em, 0);
}

.kescml .react-reveal {
  width: 100vw;
}
